<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ if .Title }}{{ .Title }} | {{ .Site.Title }}{{ else }}savar's website{{ end }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- SEO Meta -->
	<meta name="description" content="{{ if .Description }}{{ .Description }}{{else}}savar's personal website{{ end }}" />
	<meta property="og:title" content="{{ .Title }}">
	<meta property="og:description" content="{{ .Description }}">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ .Title }}">
	<meta name="twitter:description" content="{{ .Description }}">

	<!-- Styles & Icons -->
	<!--before-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Geist:wght@400..700&display=swap" rel="stylesheet">
	<!--now put other stuff-->
	<link rel="stylesheet" href="/style.css"> <!--preload this-->
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">
	<link rel="alternate icon" type="image/png" href="/favicon.png">

	<!-- Phosphor Icons -->
	<!--script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script-->
	<link rel="preload" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css" as="style" onload="this.rel='stylesheet'" />
	<link rel="preload" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/fill/style.css" as="style" onload="this.rel='stylesheet'" />
	<link rel="preload" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/style.css" as="style" onload="this.rel='stylesheet'" />
</head>
