<section id=header-wrapper>
<header> 
	<section id=home>
		<!--img align=right src=https://github.com/savar95x.png aria-label="my picture" style="border-radius: 50%; max-width: 2rem; max-height: 2rem"  /-->
		<a alt="website logo" aria-label="Go to homepage" style="color: var(--clr-fg);" href=/><b>savar</b></a>
	</section>
	<section class="stuff">
		<!--a {{ if eq .RelPermalink "/blog/" }}class="fg-alt"{{ end }} href=/blog>blog</a-->
		<a {{ if strings.Contains .RelPermalink "/blog/" }}style="color: var(--clr-fg-alt);"{{ end }} href=/blog>blog</a>
		<a {{ if strings.Contains .RelPermalink "/about/" }}style="color: var(--clr-fg-alt);"{{ end }} href=/about>about</a>
		<a {{ if strings.Contains .RelPermalink "/tools/" }}style="color: var(--clr-fg-alt);"{{ end }} href=/tools>work</a>
	</section>
</header>
</section>
<!--hr-->
