	{{ partial "head" . }}
<body>
	{{ partial "header" . }}
<main>
<section id=container>
	<section id=wrapper>
		<section class=description>
	{{ .Content }}
		</section>
	{{ range .RegularPages }}
		<section class="line"><a class="heading" href="{{ .RelPermalink }}">{{ .Title }}</a><span class="date">{{ .Date.Format "02 Jan 2006" }}</span></section>
	{{end}}
	</section>
</section>
</main>
	{{ partial "footer" . }}
</body>
</html>
<style>
.description { margin-bottom: 4rem; }
.line {
	display: flex;
	padding: 0.3rem 0;
}
.line a { text-decoration: none; }
.line a:hover { text-decoration: underline; }
.line > span { margin-left: auto; }
.date { color: var(--clr-fg-alt); }
.heading { font-weight: 500; }
</style>

<!--div id=cards>
	<a class="ph-bold ph-magnifying-glass" aria-label="search over search engines like github and archwiki" href="/tools/search"></a>
	<a class="ph-bold ph-horse" aria-label="coursera" href=https://chess.com></a>
	<a class="ph-bold ph-phosphor-logo" aria-label="phosphor icons" href=https://phosphoricons.com></a>
	<a class="ph-bold ph-note" aria-label="google keep notes" href=https://keep.google.com></a>
	<a class="ph-bold ph-whatsapp-logo" aria-label="whatsapp web" href=https://web.whatsapp.com></a>
	<a class="ph-bold ph-spotify-logo" aria-label="spotify web" href=https://open.spotify.com></a>

</div>
<style>
a {
	text-decoration: none;
}
#cards {
	display: grid;
	gap: min(1.5rem,3vw);
	grid-template-columns: repeat(3, 1fr);
}

#cards a {
	background: var(--clr-bg-alt);
	text-align: center;
	padding: clamp(2.5rem, 8vw, 3rem) 0;
	font-size: clamp(1.25rem, 5vw, 1.5rem) ;
	box-shadow: 0px 2px 4px 0px  rgba(0,0,0,0.2);
}

#cards a:hover {
	box-shadow: 0px 5px 4px 0px  rgba(0,0,0,0.2);
	color: #222;
	background-color: #6A7660;
	transform: translate(0px,-3px);
	filter: brightness(110%);
}

@media screen and (max-width: 5in) { #cards { grid-template-columns: repeat(2, 1fr); } }
</style-->
